.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25% 0 25%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border-color: black;
}